<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= appName %></title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/workouts/list">View Workouts</a> |
    <a href="/workouts/add">Add Workout</a> |
    <a href="/workouts/search">Search Workouts</a> |
    <% if(!session.user) { %>
        <a href="/users/login">Login</a> |
        <a href="/users/register">Register</a>
    <% } else { %>
        <a href="/users/logout">Logout</a>
    <% } %>
</nav>
<hr>
