<%- include('partials/header') %>

<h1>Search Workouts</h1>

<form action="/workouts/search-results" method="GET">
    <label>Keyword:</label>
    <input type="text" name="keyword" required>
    <button type="submit">Search</button>
</form>

<%- include('partials/footer') %>
